<form [formGroup]="loginForm" (ngSubmit)="login()">
  
  <div>
    <label for="username">username</label>
    
    <input
      type="text"
      name="username"
      id="username"
      [formControl]="username">
      
    <div [hidden]="username.valid || username.untouched">
      <div>
        The following problems have been found with the username:
      </div>
      
      <div [hidden]="!username.hasError('minlength')">
        Username can not be shorter than 5 characters.
      </div>
      <div [hidden]="!username.hasError('required')">
        Username is required.
      </div>
    </div>
  </div>
  <div>
    <label for="password">password</label>
    <input 
      type="password"
      name="password"
      id="password" [formControl]="password">
      
    <div [hidden]="password.valid || password.untouched">
      <div>
        The following problems have been found with the password:
      </div>
      
      <div [hidden]="!password.hasError('required')">
        The password is required.
      </div>
      <div [hidden]="!password.hasError('ampersandRequired')">
        Your password must have an ampersand (&)
      </div>
    </div>
  </div>
  
  <div>
    <label for="duplicatePassword">confirm password</label>
    <input type="password" name="duplicatePassword" id="duplicatePassword" [formControl]="duplicatePassword">
    <div [hidden]="duplicatePassword.valid || duplicatePassword.untouched">
      <div>The following problems have been found with the password:</div>
      <div [hidden]="!duplicatePassword.hasError('mismatchedPassword')">The passwords must match</div>
      
    </div>
  </div>
  
  <button type="submit" [disabled]="!loginForm.valid">Log In</button>
</form>