

  <div class="p2 gray bg-darken-1">
    <h4 class="m0 caps">Login</h4>
  </div>

  <div class="p2 white bg-red" *ngIf="message">
    {{ message }}
  </div>

  <form class="p2 bg-white"
    [ngFormModel]="loginForm"
    (ngSubmit)="login(loginForm.value)">
      <label for="username">User:</label>
      <input class="block col-12 mb1 field"
        type="text"
        name="username"
        ngControl="username">
      <label for="password">Password:</label>
      <input class="block col-12 mb1 field"
        type="password"
        name="password"
        ngControl="password">
      <button class="btn btn-primary"
        [disabled]="!loginForm.valid">
        Login
      </button>
  </form>


