<form [ngFormModel]="group" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" [ngFormControl]="group.find('email')" [(ngModel)]="user.email">
    <span *ngIf="group.find('email').pending">Checking duplication...</span>
    
    <ul *ngIf="group.find('email').dirty && !group.find('email').valid">
      <li *ngIf="group.hasError('required', 'email')">An email is required</li>
      <li *ngIf="group.hasError('emailFormat', 'email')">The value introduced is not an email</li>
      <li *ngIf="group.hasError('duplicated', 'email')">This email has been registered already</li>
    </ul>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [ngFormControl]="group.find('password')" [(ngModel)]="user.password">
    
    <ul *ngIf="group.find('password').dirty && !group.find('password').valid">
      <li *ngIf="group.hasError('required', 'password')">A password is required</li>
      <li *ngIf="group.hasError('minlength', 'password')">A password needs to have at least 4 characterss</li>
    </ul>
  </div>
  
  <p>{{ user | json }}</p>

  <button type="submit">Register</button>

</form>