<div class="bg-white rounded shadow">

  <div class="flex flex-center p2">
    <div>
      <h5 class="gray caps m0">
        <ngc-icon-user></ngc-icon-user>
        {{ title }}
      </h5>
      <p class="m0 h3">{{ content }}</p>
    </div>
  </div>

  <div class="border-top blue py1 px2 flex flex-auto">
    <div class="flex-auto"></div>
    <button class="btn red mr1">
      <ngc-icon-close></ngc-icon-close>
      Delete
    </button>
    <button class="btn">
      <ngc-icon-check></ngc-icon-check>
      Done
    </button>
  </div>

</div>
