<div class="sm-col-10 mx-auto border rounded mb4">
  <div class="p2 gray bg-darken-1">
    <h4 class="m0 caps">{{formTitle}}</h4>
  </div>

  <form class="p2 bg-white"
    [ngFormModel]="taskForm"
    (ngSubmit)="submitTask(taskForm)">
    <input id="_id" type="hidden" ngControl="_id">
    <label for="owner">Owner</label>
    <input class="block col-12 mb1 field"
      id="owner"
      type="text"
      ngControl="owner"
      >
    <label for="description">Description</label>
    <input class="block col-12 mb2 field"
      id="description"
      type="text"
      ngControl="description">

    <button class="btn btn-primary"
      [disabled]="!taskForm.valid">
      Save
    </button>
    <button class="btn btn-primary bg-gray"
      [routerLink]="cancelLink">
      Cancel
    </button>
  </form>

</div>
