<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://npmcdn.com/basscss/css/basscss.css" rel="stylesheet">
    <link href="https://npmcdn.com/basscss-flexbox/css/flexbox.css" rel="stylesheet">
    <link href="https://npmcdn.com/basscss-border/css/border.css" rel="stylesheet">
    <link href="slides.css" rel="stylesheet">
  </head>
  <body>
    <textarea id="source">
    </textarea>
    <script src="//remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow;
      fetch('./slides.md')
        .then(function (res) {
          return res.text();
        })
        .then(function (text) {
          document.getElementById('source').textContent = text;
          slideshow = remark.create();
        });
    </script>
  </body>
</html>
