.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
  text-align: center;
  font-size: 2.2em;
}
.rating > span:hover, .rating > span.active:hover  {
   cursor: pointer;
   color: darkgoldenrod;
}

.rating > span.active  {
   color: gold;
}