<div class="clearfix white bg-blue">
  <div class="left col-4 aqua">
    <p class="btn py2 m0 truncate">
      <ngc-icon-logo></ngc-icon-logo> ngCourse2
    </p>
  </div>
  <div class="right" *ngIf="authService.isLoggedIn()">
    <a class="btn py2 m0"
      [routerLink]="['/Main', 'TasksList']">Tasks</a>
    <a class="btn py2 m0"
      [routerLink]="['/Main', 'TaskAdd']">Add Task</a>
    <a id="qa-logout-link"
      class="btn py2 m0"
      href="#"
      [routerLink]="['Login']"
      (click)="logout()">
      Logout
    </a>
  </div>
</div>
