<ngc-card>

  <ngc-card-title>
    <ngc-icon-user></ngc-icon-user>
    {{ task.owner }}
  </ngc-card-title>

  <p class="h3"
    [ngStyle]="{'text-decoration': task.done ? 'line-through' : 'none' }">
    {{ task.description }}
  </p>

  <ngc-card-actions>
    <button class="btn orange mr1"
      (click)="editItem()">
      <ngc-icon-edit class="h5"></ngc-icon-edit>
      Edit
    </button>
    <button class="btn red mr1"
      (click)="deleteItem()">
      <ngc-icon-close class="h5"></ngc-icon-close>
      Delete
    </button>
    <button class="btn"
      (click)="markAsDone()"
      [disabled]="task.done">
      <ngc-icon-check class="h5"></ngc-icon-check>
      Done
    </button>
  </ngc-card-actions>

</ngc-card>
