<ngc-card>

  <ngc-card-title>
    <ngc-icon-user></ngc-icon-user>
    {{ task.get('owner') }}
  </ngc-card-title>

  <p class="h3"
    [ngStyle]="{'text-decoration': task.get('done') ? 'line-through' : 'none' }">
    {{ task.get('description') }}
  </p>

  <ngc-card-actions>
    <button class="btn orange mr1"
      (click)="editItem(task)">
      <ngc-icon-edit class="h5"></ngc-icon-edit>
      Edit
    </button>
    <button class="btn red mr1"
      (click)="deleteTask(task)">
      <ngc-icon-close class="h5"></ngc-icon-close>
      Delete
    </button>
    <button class="btn"
      (click)="markTask(task, !task.get('done'))"
      [ngStyle]="{'color': task.get('done') ? '#ddd' : '' }">
      <ngc-icon-check class="h5"></ngc-icon-check>
      Done
    </button>
  </ngc-card-actions>

</ngc-card>
