<div class="h4 ml2 mb4">

  <span>
    <ngc-dropdown 
       class="mr1" 
       (change)="onSelectOwner($event)"
       [defaultValue]="'everyone'"
       [selected]="owner"
       [items]="owners">
    </ngc-dropdown>
    owns
    <span class="blue">
      {{ tasks | ownerTasks:owner | size }}
    </span>
    .
  </span>

  <span class="ml2">
    Showing
    
    <ngc-dropdown
      class="ml1 mr1"
      (change)="onSelectStatus($event)"
      [items]="statuses"
      [selected]="taskStatus"></ngc-dropdown>
    
    tasks.
  </span>

</div>
